.home {
  &__button {
    &--add {
      font-size: 1.25rem;
      margin-left: 10px;
      padding: 5px;

      svg {
        height: 26px;
        margin-left: 5px;
        width: auto;
      }
    }
  }

  &__heading {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
  }

  &__hr {
    background-color: var(--color-primary);
    border: 2px solid var(--color-darker);
    border-radius: 2px;
    height: 1px;
    margin: 0 20px;
  }

  &__settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
