.button {
  align-items: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-darker);
  border-radius: 7.5px;
  box-shadow: 2px 2px var(--color-darker);
  color: var(--color-darker);
  cursor: pointer;
  display: inline-flex;
  min-height: 30px;
  font-size: 1.05rem;
  font-weight: bold;
  justify-content: center;
  padding: 3px;
  transform: translate(-1px, -1px);
  min-width: 30px;
  -webkit-text-stroke: 0;

  svg {
    height: 20px;
    width: auto;
  }

  &:active {
    box-shadow: none;
    transform: translate(1px, 1px);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-darker);
    border-color: var(--color-primary);
    box-shadow: 2px 2px var(--color-primary);

    &:active {
      box-shadow: none;
    }

    svg {
      fill: var(--color-darker);
      stroke: var(--color-primary);
    }
  }
}
