.app-card {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 20px;
  width: 320px;

  &__buttons {
    display: flex;
  }

  &__edit-button {
    &.large {
      grid-column: 1 / 3;
    }
  }

  &__edit-buttons {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
  }

  &__edit-input {
    margin: 10px 0;
  }

  &__edit-options {
    width: 80%;
  }

  &__image {
    box-shadow: 4px 4px 4px 4px var(--color-darker);
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
  }

  &__image-wrapper {
    align-items: center;
    display: flex;
    height: 180px;
    justify-content: center;
  }

  &__label {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
  }
}

.edit-app-card {
  font-size: 1.25rem;
  width: 480px;

  .app-card {
    &__image-wrapper {
      height: 270px;
    }
  }

  &__label--process {
    svg {
      cursor: help;
      height: 16px;
      fill: var(--color-primary);
      stroke: var(--color-darker);
    }
  }
}
