.app-card-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 320px;

  &__image {
    box-shadow: 4px 4px 4px 4px var(--color-darker);
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
  }

  &__image-wrapper {
    align-items: center;
    display: flex;
    height: 180px;
    justify-content: center;
  }
}
