.edit-app-card {
  @at-root div#{&} {
    font-size: 1.25rem;
    width: 480px;
  }

  &__help-tip--process {
    width: 225px;
  }

  &__label--process {
    svg {
      cursor: help;
      height: 16px;
      fill: var(--color-primary);
      stroke: var(--color-darker);
    }
  }

  &__button {
    &.large {
      grid-column: 1 / 3;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
  }

  &__input {
    margin: 10px 0;
  }

  &__options {
    width: 80%;
  }
}
