.view-app-card {
  &__buttons {
    display: flex;
  }

  &__label {
    font-size: 1.75rem;
    font-style: italic;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
  }
}
