.tooltip {
  background-color: var(--color-gray);
  border-radius: 5px;
  bottom: 100%;
  color: var(--color-primary);
  cursor: help;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 5px;
  position: absolute;
  text-shadow: none;
  visibility: hidden;
  -webkit-text-stroke: 0;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-gray) transparent transparent transparent;
  }

  &.active {
    visibility: visible;
  }
}
