.tooltip {
  background-color: var(--color-gray);
  border: 1px solid var(--color-darker);
  border-radius: 5px;
  bottom: calc(100% - 10px);
  box-shadow: 0 2px var(--color-darker);
  color: var(--color-primary);
  cursor: help;
  font-size: 1rem;
  padding: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s, bottom 0.25s, z-index 0.25s ease 0.25s;
  z-index: -1;

  &::after {
    border-color: var(--color-gray) transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }

  &.active {
    bottom: 100%;
    opacity: 1;
    z-index: 0;
    transition: opacity 0.25s, bottom 0.25s, z-index 0.25s;
  }
}
