@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf'),
    url('../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

:root {
  --color-primary: rgb(175, 140, 70);
  --color-light: rgb(255, 255, 255);
  --color-lighter: rgb(180, 180, 180);
  --color-gray: rgb(90, 90, 90);
  --color-dark: rgb(60, 60, 60);
  --color-darker: rgb(30, 30, 30);
}

html {
  background-color: var(--color-dark);
  color: var(--color-primary);
  font-family: 'Raleway';
  font-size: 20px;
  font-synthesis: none;
  font-weight: bold;
  font-variation-settings: 'ital' 1, 'wght' 750;
  margin: 0;
  text-shadow: 2px 2px var(--color-darker), -1px -1px var(--color-darker),
    1px -1px var(--color-darker), -1px 1px var(--color-darker),
    1px 1px var(--color-darker);
}
